{% extends "blog/base.html" %}

{% block content %}

<div class="container about_div_html">
    <div class="container about-div">
        <h1>About</h1><hr>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odit eius ullam omnis natus nihil aspernatur mollitia ut placeat itaque. Aperiam fugiat deserunt deleniti itaque molestias praesentium adipisci, inventore libero.
        </p>
    </div>
    
    <div class="linkedin">
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="kartikkoul"><a class="LI-simple-link" href='https://in.linkedin.com/in/kartikkoul?trk=profile-badge'>Kartik Koul</a></div>
    </div>
</div>

<script type="text/javascript" src="ht?tps://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% endblock %}